body {
  font-family: "Arial", sans-serif;
  margin: 0;
  padding: 0;
  background: #f0f0f0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.thank-you-container {
  background-color: white;
  padding: 40px;
  border-radius: 10px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.thank-you-container h1 {
  color: blue;
  margin-bottom: 20px;
}

.thank-you-container p {
  font-size: 18px;
  margin-bottom: 30px;
  color: #333;
}

button {
  background-color: blue;
  color: white;
  border: none;
  padding: 10px 20px;
  text-transform: uppercase;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  font-size: 16px;
}

button:hover {
  background-color: rgb(0, 0, 128);
}
